{
  "name": "{{PROJECT_NAME}}",
  "version": "1.0.0",
  "description": "",
  "main": "index.js",
  "scripts": {
    "start": "node ./node_modules/@backtest-kit/cli/build/index.mjs",
    "sync:lib": "node ./scripts/fetch_docs.mjs"
  },
  "keywords": [],
  "author": "",
  "license": "ISC",
  "type": "commonjs",
  "dependencies": {
    "@backtest-kit/cli": "^6.9.0",
    "@backtest-kit/graph": "^6.9.0",
    "@backtest-kit/pinets": "^6.9.0",
    "@backtest-kit/ui": "^6.9.0",
    "agent-swarm-kit": "^1.6.0",
    "backtest-kit": "^6.9.0",
    "functools-kit": "^1.1.1",
    "garch": "^1.2.3",
    "get-moment-stamp": "^1.1.2",
    "ollama": "^0.6.3",
    "volume-anomaly": "^1.2.3"
  }
}
