**🪓 Averaging Entry (DCA)**

**Symbol:** `{{symbol}}` ({{position}})

**Current:** `{{currentPrice}}`
**New Avg Entry:** `{{effectivePriceOpen}}`
**Orig Entry:** `{{originalPriceOpen}}`
**Cost:** `{{cost}}`
**DCA Entries:** `{{totalEntries}}`
**Partials Done:** `{{totalPartials}}`
**Take Profit:** `{{priceTakeProfit}}`
**Stop Loss:** `{{priceStopLoss}}`
**Orig TP:** `{{originalPriceTakeProfit}}`
**Orig SL:** `{{originalPriceStopLoss}}`
**PnL:** {{pnl.pnlPercentage}}% ({{pnl.pnlCost}} / {{pnl.pnlEntries}})
**Signal ID:** `{{signalId}}`
**Time:** `{{timestamp}}`

{{#backtest}}
_🧪 Backtest_
{{/backtest}}