**🚫 Cancel Scheduled**

**Symbol:** `{{symbol}}`

**Orig Entry:** `{{originalPriceOpen}}`
**DCA Entries:** `{{totalEntries}}`
**Partials Done:** `{{totalPartials}}`
{{#cancelId}}**Cancel ID:** `{{cancelId}}`
{{/cancelId}}**PnL:** {{pnl.pnlPercentage}}% ({{pnl.pnlCost}} / {{pnl.pnlEntries}})
**Signal ID:** `{{signalId}}`
**Time:** `{{timestamp}}`

{{#backtest}}
_🧪 Backtest_
{{/backtest}}