**🏁 Position Closed**

**Symbol:** `{{symbol}}` ({{signal.position}})

**Reason:** `{{closeReason}}`
**Entry:** `{{pnl.priceOpen}}`
**Exit:** `{{pnl.priceClose}}`
**PnL:** {{pnl.pnlPercentage}}%
**Orig Entry:** `{{signal.originalPriceOpen}}`
**DCA Entries:** `{{signal.totalEntries}}`
**Signal ID:** `{{signal.id}}`
{{#closeId}}**Close ID:** `{{closeId}}`
{{/closeId}}**Time:** `{{createdAt}}`

{{#backtest}}
_🧪 Backtest_
{{/backtest}}
