**🔻 Partial Loss**

**Symbol:** `{{symbol}}` ({{position}})

**Current:** `{{currentPrice}}`
**Entry:** `{{priceOpen}}`
**Orig Entry:** `{{originalPriceOpen}}`
**Closed:** {{percentToClose}}%
**Take Profit:** `{{priceTakeProfit}}`
**Stop Loss:** `{{priceStopLoss}}`
**Orig TP:** `{{originalPriceTakeProfit}}`
**Orig SL:** `{{originalPriceStopLoss}}`
**DCA Entries:** `{{totalEntries}}`
**Partials Done:** `{{totalPartials}}`
**PnL:** {{pnl.pnlPercentage}}% ({{pnl.pnlCost}} / {{pnl.pnlEntries}})
**Signal ID:** `{{signalId}}`
**Time:** `{{timestamp}}`

{{#backtest}}
_🧪 Backtest_
{{/backtest}}