**💚 Partial Profit**

**Symbol:** `{{symbol}}` ({{position}})

**Current:** `{{currentPrice}}`
**Entry:** `{{priceOpen}}`
**Closed:** {{percentToClose}}%
**Take Profit:** `{{priceTakeProfit}}`
**Stop Loss:** `{{priceStopLoss}}`
**Signal ID:** `{{signalId}}`
**Time:** `{{timestamp}}`

{{#backtest}}
_🧪 Backtest_
{{/backtest}}
